<h2><%= t("devise.text.title.edit_profile") %></h2>

<div class="row">
  <div class="col-md-6 buffer-top">

    <%= render "devise/shared/error_messages", resource: resource %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
      <div class="mb-3">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', autofocus: true, autocomplete: "name" %>
      </div>

      <div class="mb-3">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', autocomplete: "email" %>
      </div>

      <div class="mb-3">
        <%= f.label :avatar %>
        <p><%= image_tag(@user.avatar.thumb.url) if @user.avatar? %></p>
        <%= f.file_field :avatar %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t("devise.text.unconfirmed.email") %> <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="mb-3">
        <%= f.label :password, t("devise.text.password.optional") %>
        <%= f.password_field :password, class: 'form-control', autocomplete: "new-password", placeholder: t("devise.text.password.requirements") %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password", placeholder: t("devise.text.password.requirements") %>
      </div>

      <div class="mb-3">
        <%= f.label :current_password,  t("devise.text.current_password.optional") %>
        <%= f.password_field :current_password, class: 'form-control', autocomplete: "current-password" %>
      </div>

      <div class="mb-3">
        <%= f.button class: 'btn', style: 'background-color: #8199A3; color: white;' do %>
          <i class="bi bi-check-lg"></i> <%= t("devise.text.button.save") %>
        <% end %>
      </div>
    <% end %>

    <h3 class="mb-3"><%= t("devise.text.title.other_actions") %></h3>

    <div class="mb-3">
      <%= button_to user_path(@user), method: :delete, form: { data: { turbo_confirm: t("confirm.users.destroy") } }, class: 'btn', style: 'background-color: #8199A3; color: white;' do %>
        <i class="bi bi-eraser-fill"></i> <%= t("devise.text.button.delete_profile") %>
      <% end %>
    </div>

    <div class="mt-3 mb-3">
      <%= link_to t("devise.text.link.back"), :back %>
    </div>

  </div>
</div>
