<%= form_for @user, html: {multipart: true} do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.button class: 'btn', style: 'background-color: #8199A3; color: white;' do %>
      <i class='bi bi-check'></i> Сохранить
    <% end %>
    или <%= link_to 'вернуться', :back %>
  </div>
<% end %>
