<h2><%= t("devise.text.title.change_password") %></h2>

<div class="row">
  <div class="col-md-6 buffer-top">

    <%= render "devise/shared/error_messages", resource: resource %>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

      <%= f.hidden_field :reset_password_token %>

      <div class="mb-3">
        <%= f.label :password, t("devise.text.password.new") %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control', placeholder: t("devise.text.password.requirements") %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, t("devise.text.password.new_confirmation") %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: t("devise.text.password.requirements") %>
      </div>

      <div class="mb-3">
        <%= f.button class: 'btn button_form' do %>
          <i class="bi bi-check-lg"></i> <%= t("devise.text.button.change_password") %>
        <% end %>
      </div>

    <% end %>

    <div class="mt-3 mb-3">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
