<h1>Доступ только по пин-коду</h1>

<%= form_with url: "", html: { method: :post }, data: { turbo: false } do |f| %>
  <div class="mb-3">
    <%= label :pincode, 'Пин-код' %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.button class: 'btn', style: 'background-color: #8199A3; color: white;' do %>
      <i class='bi bi-check-lg'></i> Сохранить
    <% end %>
    или <%= link_to 'вернуться', :back %>
  </div>
<% end %>
