<p><%= t('devise.text.password.instruction1') %>, <%= @resource.name %>!</p>

<p><%= t('devise.text.password.instruction2') %> <b><%= t('app.name') %></b>. <%= t('devise.text.password.instruction3') %></p>

<p><%= link_to t('devise.text.link.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.text.password.instruction4') %></p>
<p><%= t('devise.text.password.instruction5') %></p>
