<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <!-- favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' -->
  </head>

  <body>
    <div class="container">
      <div class="navbar navbar-default navbar-static-top">
        <%# Для вывода названия приложения используем хелпер I18n.t %>
        <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>

        <div>
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li><%= link_to 'Профиль', current_user %></li>
              <li><%= link_to 'Выйти', destroy_user_session_path, data: { turbo_method: :delete } %></li>
            <% else %>
              <li><%= link_to 'Войти', new_user_session_path %></li>
              <li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <% flash.each do |name, message| %>
            <p class="alert alert-<%= name %> fade-in"><%= message %></p>
          <% end %>
          <%= yield %>
        </div>
        <div class="col-lg-3">
        </div>
      </div>

      <footer>
        <%# Для вывода названия компании используем хелпер I18n.t %>
        <p>&copy; <%= t 'app.company' %> 2023</p>
      </footer>
    </div>

  </body>
</html>



